body {
  /* Manera explicita de settearlo */

  background: url("img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;

  /* Manera resumida de setearlo */
  /* background: url(img/bg.jpg) no-repeat fixed center center;
  background-size: cover; */
}
