/*Selector universal
* {
    color: red;
}
*/

/* Selector de etiqueta*/
h1 {
  color: blue;
}

div p {
  font-size: 20px;
}

p a {
  color: blueviolet;
}

.grande {
  font-size: 28px;
}

#rojo {
  color: red;
}
