body {
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 28px;
    font-style: italic;
    font-weight: normal;
    color: blueviolet;
    text-align: right;
    text-decoration: underline;
    text-transform: capitalize;
}
p {
    text-align: justify;
    text-transform: capitalize;
    letter-spacing: 3px;
    line-height: 30px;
}